<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a> · <a href="/terminal/">Terminal Version</a>
<!-- end custom footer snippets -->

{% include footer/terminal-invite.html %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171582480-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-171582480-1');
</script>


<!--
  已移除两个失效的同步脚本（2026-09 排查页面打不开时定位到）：
    https://cdn1.lncld.net/static/js/av-min-1.5.0.js
    https://jerryz.sgp1.cdn.digitaloceanspaces.com/lib/hit-kounter/hit-kounter-lc-0.3.0.js
  这两个域名的 DNS 已经无法解析，而它们没有 async/defer，会阻塞 HTML 解析，
  浏览器要一直等到连接超时（几十秒）才继续渲染，表现就是「主页打不开」。
  站内没有任何元素依赖它们（LeanCloud 计数器的容器早已不存在），
  访问统计实际由 busuanzi 提供，见 _pages/about.md。

  今后引入任何第三方脚本，务必加 defer 或 async，否则对方一挂就会拖垮整站。
-->
{% comment %} intentionally left without external blocking scripts {% endcomment %}


<style type="text/css">
    .aui-row {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .aui-card-list {
        display: inline-block;
        box-sizing: border-box;
        width: 150px;
        margin-bottom: 0;
    }


    .button01 {
        display: inline-table;
        width: 200px;
        margin: 50px auto 20px auto;
    }

    .button01 visited_a {
        display: block;
        height: 50px;
        width: 200px;

        /*TYPE*/
        color: white;
        font: 17px/50px Helvetica, Verdana, sans-serif;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;

        /*GRADIENT*/
        background: #00b7ea;
        /* Old browsers */
        background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #009ec3));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        /* IE10+ */
        background: linear-gradient(top, #00b7ea 0%, #009ec3 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0);
        /* IE6-9 */
    }

    .button01 visited_a,
    visited_p {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    }

    visited_p {
        background: #222;
        display: block;
        height: 40px;
        width: 180px;
        margin: -50px 0 0 10px;

        /*TYPE*/
        text-align: center;
        font: 12px/45px Helvetica, Verdana, sans-serif;
        color: #fff;

        /*POSITION*/
        position: absolute;
        z-index: -1;

        /*TRANSITION*/
        -webkit-transition: margin 0.5s ease;
        -moz-transition: margin 0.5s ease;
        -o-transition: margin 0.5s ease;
        -ms-transition: margin 0.5s ease;
        transition: margin 0.5s ease;
    }

    /*HOVER*/
    .button01:hover .bottom {
        margin: -10px 0 0 10px;
    }

    .button01:hover .top {
        margin: -80px 0 0 10px;
        line-height: 35px;
    }

    /*ACTIVE*/
    .button01 visited_a:active {
        background: #00b7ea;
        /* Old browsers */
        background: -moz-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(36%, #00b7ea), color-stop(100%, #009ec3));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #00b7ea 36%, #009ec3 100%);
        /* IE10+ */
        background: linear-gradient(top, #00b7ea 36%, #009ec3 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=0);
        /* IE6-9 */

    }

    .button01:active .bottom {
        margin: -20px 0 0 10px;
    }

    .button01:active .top {
        margin: -70px 0 0 10px;
    }
</style>